---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: 'Zašto?',
			description:
				'Glavni cilj projekta je senzibilizirati djecu prema okolišu i održivom razvoju te potaknuti njihovo kreativno izražavanje na temu mora. Dosadašnje iskustvo u popularizaciji morskih tema među školskom djecom pokazalo je da djeca u većim priobalnim sredinama imaju veći broj aktivnosti s morskim temama u odnosu na djecu u kopnenoj Hrvatskoj kao i u  manjim i ruralnim područjima.',
			icon: 'tabler:fish',
		},
		{
			title: 'Gdje?',
			description:
				'Ovim projektom želimo približiti morske teme te doprinijeti razumijevanju važnosti i očuvanja oceana učenicima u osnovnim školama u manjim gradovima i ruralnim područjima duž jadranske obale te u unutrašnjosti Hrvatske.',
			icon: 'tabler:home',
		},
		//{
			//title: 'Best Practices',
			//description:
			//	'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			//icon: 'tabler:list-check',
		//},
	],
	[
		{
			title: 'Kako?',
			description:
				'Kroz edukativne radionice djeci ćemo približiti procese koji se odvijaju u moru, upoznati ih s organizmima koji žive u more te s njima podijeliti razne zanimljivosti iz morskog svijeta.',
			icon: 'tabler:books',
		},
		{
			title: 'Tko?',
			description:
				'Edukativne radionice za djecu nižih i viših razreda osnovne škole provodit će znanstvenice Instituta za oceanografiju i ribarstvo iz Splita. Dr. sc. Daria Ezgeta Balić morski je biolog s višegodišnjim iskustvom u organiziranju i izvođenju radionica za popularizaciju znanosti o moru namijenjene djeci od vrtićke do srednjoškolske dobi.  Dr.sc. Barbara Zorica je ribarstveni biolog koja svoje znanje iz područja ribarstva prenosi studentima diplomskog studija.',
			icon: 'tabler:lego',
		},
		//{
			//title: 'Open to new ideas and contributions',
			//description:
			//	'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			//icon: 'tabler:bulb',
		//},
	],
];
---

<section class="scroll-mt-16" id="features">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
		<div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">O PROJEKTU</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				Zašto? Kako? Gdje? Tko? <span class="whitespace-nowrap"></span>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				Trenutno se nalazimo u desetljeću koje je Opća skupština Ujedinjenih naroda (UN) u New Yorku 2017. godine proglasila Desetljeće znanosti o oceanima za održivi razvoj (2021.- 2030.) pod motom “The Science We Need for the Ocean We Want”. 
			</p>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				-
			</p>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				U današnje doba kada smo svakodnevno svjedoci velikih, brzih i često negativnih promjena u okolišu poticanje pismenosti o moru je vjerojatno važnije nego ikad prije.
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-4">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500 dark:bg-primary-700">
										{icon && <Icon name={icon} class="w-6 h-6 text-white icon-light" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold">{title}</h3>
									<p class="text-gray-600 dark:text-slate-400">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
