---
import Layout from '~/layouts/PageLayout.astro';
import { SITE } from '~/config.mjs';
//import Error404 from '~/components/widgets/Error404.astro';

const title = `O projektu - More Budućnosti`;
---

<Layout meta={{ title }}>
	
<section class="py-8 sm:py-16 lg:py-20 mx-auto">
	<article>
		<header class='text-center'>
			<h1
				class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8 font-heading"
			>
				O projektu
			</h1>
			
					<img
						src="~/assets/images/naslovna.jpg"
						class="max-w-full lg:max-w-6xl mx-auto mt-4 mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
						sizes="(max-width: 900px) 400px, 900px"
						alt=""
						loading="eager"
					/>
		</header>
		<div
			class="container mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
		>
		<p align=”justify”> Trenutno se nalazimo u desetljeću koje je Opća skupština Ujedinjenih naroda (UN) u New Yorku 2017. godine proglasila <b>Desetljeće znanosti o oceanima za održivi razvoj</b> (2021.- 2030.) pod motom “The Science We Need for the Ocean We Want”. Iako je važnost mora i ocean za život na Zemlji dobro poznata do opće populacije ponekad ne dolazi takva poruka te <b>ljudi često nisu svjesni važnosti očuvanja naših mora, kao ni dobrobiti koje sva mora imaju za naše živote</b>. Znanje o moru (<i>engl. Ocean Literacy</i>) koncept je koji se razvio prije nešto manje od dva desetljeća u Americi kada je prepoznat nedostatak predmeta koje se bave izučavanjem oceana u formalnom obrazovanju. Tada je skupina znanstvenika te obrazovnih stručnjaka pokrenula proces suradnje s ciljem poticanja uključivanja morskih tema u nacionalne i državne standarde formalnog obrazovanja. Od tada se koncept znanja o moru proširio na cijeli svijet te se smatra krucijalnim za postizanje ciljeva definiranim kroz Desetljeće znanosti o oceanima kao i UN ciljevima održivog razvoja. Iako je cjelokupni koncept Znanja o moru složen i zasniva se na 7 osnovnih principa te desetke temeljnih koncepta, najkraće se može definirati kao <b>“razumijevanje utjecaja mora na čovjeka i čovjeka na more”</b>.</p>
		</div>

		<div
			class="container mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
		>
		<p align=”justify”> U današnje doba kada smo svakodnevno svjedoci velikih, brzih i često negativnih promjena u okolišu <b>poticanje pismenosti o moru je vjerojatno važnije nego ikad prije</b>. Tijekom zadnjeg desetljeća i u Hrvatskoj su se počeli ulagati napori kako bi se podigla svijest o važnosti oceana za život na Zemlji, o prednostima koje imamo kao pomorska zemlja te mogućnostima koje nam more daje. Usprkos dosadašnjim nastojanjima, mišljenja smo da kao društvo još uvijek nismo ni blizu cilja, odnosno nismo osvijestili važnost mora kao i njihova očuvanja za buduće generacije. Potrebno je uložiti još više napora od strane znanstvenih i obrazovnih institucija, vladinih i nevladinih organizacija, kao i svih zainteresiranih pojedinaca, kako bi se osiguralo razumijevanje važnosti očuvanja oceana.  
			
		</div>
		
		</div>
		<div
			class="container mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-600 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
		>
		<p align=”justify”>Imajući u vidu da djeca u svojoj ranoj dobi imaju najzamjetniji rast senzibilnosti, glavni cilj nam je senzibilizirati ih prema okolišu i održivom razvoju te potaknuti njihovo kreativno izražavanje na temu mora. Kako bi se to ostvarilo potrebna je <b>jača suradnja između znanstvenih i obrazovnih institucija</b>. Takva suradnja za cilj treba imati prijenos znanja i jačanje svijesti o važnosti oceana za život na Zemlji. Dosadašnje iskustvo u popularizaciji morskih tema među školskom djecom pokazalo je da djeca u većim priobalnim sredinama imaju veći broj aktivnosti s morskim temama u odnosu na djecu u ruralnim područjima. Za razliku od škola u većim gradovima, te škole često nemaju takve prilike. Također, morske teme su u osnovnoj školi često nedovoljno zastupljena. Stoga je glavni cilj predloženog projekta <b>doprinijeti razumijevanju važnosti očuvanja oceana učenicima u osnovnim školama u manjim gradovima i ruralnim područjima duž jadranske obale te u unutrašnjosti. </b></p>
		</div>

	
		
	</article>
</section>

</Layout>
